<div class="container">
  <table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Vorname</th>
        <th scope="col">Nachname</th>
        <th scope="col">Cash</th>
        <th scope="col">Status</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let user of userData | sort; let i = index">
        <th scope="row">{{ i + 1}}</th>
        <td>{{user.user.firstName}}</td>
        <td>{{user.user.lastName}}</td>
        <td>{{user.user.saldo}}</td>
        <td>{{user.hasTransaction}}</td>
      </tr>
    </tbody>
  </table>
</div>